* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bar, .pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 80px auto;
}

h2 {
    margin-bottom: 30px;
}


main {
    display: flex;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
